/****** FONTS ******/
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular_gdi.eot");
  src: url("../fonts/ProximaNova-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular_gdi.woff") format("woff"), url("../fonts/ProximaNova-Regular_gdi.ttf") format("truetype"), url("../fonts/ProximaNova-Regular_gdi.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold_gdi.eot");
  src: url("../fonts/ProximaNova-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold_gdi.woff") format("woff"), url("../fonts/ProximaNova-Bold_gdi.ttf") format("truetype"), url("../fonts/ProximaNova-Bold_gdi.svg#ProximaNova-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'BemboStd-Regular';
  src: url("../fonts/BemboStd_gdi.eot");
  src: url("../fonts/BemboStd_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/BemboStd_gdi.woff") format("woff"), url("../fonts/BemboStd_gdi.ttf") format("truetype"), url("../fonts/BemboStd_gdi.svg#BemboStd-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'BemboStd-Semibold';
  src: url("../fonts/BemboStd-Semibold_gdi.eot");
  src: url("../fonts/BemboStd-Semibold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/BemboStd-Semibold_gdi.woff") format("woff"), url("../fonts/BemboStd-Semibold_gdi.ttf") format("truetype"), url("../fonts/BemboStd-Semibold_gdi.svg#BemboStd-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
body {
  background-color: #fff;
  font-family: "BemboStd-Regular";
  color: #2b2b2b; }

h1, h2, .ccm-block-page-list-title a, .ccm-block-topic-list-header h5, h3, h4, h5, h6 {
  line-height: 1;
  font-family: inherit; }

h1 {
  font-size: 34px; }

h2, .ccm-block-page-list-title a, .ccm-block-topic-list-header h5 {
  font-size: 30px; }

p, .ccm-block-page-list-description {
  font-size: 17px; }

a {
  color: #2b2b2b; }

a:hover {
  color: #76726e; }

.hr-full {
  width: 103%;
  margin: 40px -1.6%;
  border-top: 1px solid #76726e; }

.row.hr {
  border-top: 1px solid #76726e;
  margin: 20px -16px 40px -16px; }

header {
  background-color: #2b2b2b; }

.main-section {
  padding: 20px 0 0 0; }

.main-section .about-pics img {
  display: block;
  margin: 15px auto; }

/*******************************

      FOUNDATION OVERWRITES

*******************************/
.row {
  max-width: 1415px; }

/****** TOP BAR ******/
.tab-bar-section img {
  z-index: 1;
  position: inherit;
  padding-right: 40px; }

.tab-bar-section a {
  display: inline-block; }

.tab-bar, .navigation-section, .top-bar, .top-bar-section ul {
  background-color: transparent; }

.tab-bar {
  height: inherit;
  background-color: #2b2b2b; }

.navigation-section {
  padding: 20px;
  display: block;
  color: #f6ece2; }
  .navigation-section h1 {
    font-family: "BemboStd-Regular";
    color: inherit;
    font-size: 32px;
    margin: 20px 0 10px 0;
    line-height: 1; }
  .navigation-section p, .navigation-section .ccm-block-page-list-description {
    width: 100%;
    line-height: 1.4; }

.navigation-section.services {
  background-image: none; }

.navigation-section.home {
  background: url("../img/home-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 30px 10px; }

.top-bar-section ul.right li {
  margin: 0 20px;
  background-color: transparent; }
  .top-bar-section ul.right li li:last-child {
    margin-right: 0; }

.top-bar-section ul {
  border-top: 1px solid #76726e; }
  .top-bar-section ul li {
    list-style: none;
    border-top: 3px solid transparent; }
  .top-bar-section ul li.active {
    border-top: 3px solid #f6ece2; }
  .top-bar-section ul li.hover {
    border-top: 3px solid #f6ece2; }
  .top-bar-section ul li:not(.has-form) a:not(.button) {
    background-color: transparent; }
  .top-bar-section ul li.active:not(.has-form) a:not(.button) {
    background-color: transparent; }
  .top-bar-section ul li a {
    padding: 0 !important; }

.top-bar-section.sub-nav ul {
  width: 100%; }
  .top-bar-section.sub-nav ul li {
    padding: 7px 0;
    background-color: transparent; }

.top-bar-section ul li > a {
  color: #f6ece2; }

.top-bar-section.top-bar-section ul li.active, .top-bar-section.top-bar-section ul li {
  margin-left: 0; }

.top-bar-section li:not(.has-form):not(.button):hover {
  border-top: 3px solid #f6ece2;
  background-color: transparent; }

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: transparent;
  color: #f6ece2; }

.top-bar-section li.active:not(.has-form) a:not(.button) {
  color: #f6ece2; }

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  border-top: none;
  background-color: transparent; }

.right-small {
  border: none; }

.tab-bar .menu-icon {
  height: 6rem; }
  .tab-bar .menu-icon span::after {
    width: 1.3rem;
    margin: 0;
    left: 0; }

.small.radius.button.light {
  background-color: transparent;
  border: 1px solid #f6ece2;
  text-transform: uppercase;
  color: #f6ece2;
  margin: 0; }

.small.radius.button.light:hover {
  background-color: #f6ece2;
  color: #2b2b2b; }

.small.radius.button.dark {
  background-color: transparent;
  border: 1px solid #2b2b2b;
  text-transform: uppercase;
  color: #2b2b2b; }

.small.radius.button.dark:hover {
  background-color: #2b2b2b;
  color: #f6ece2; }

.right-col {
  border-left: 1px solid #76726e;
  margin-top: -60px;
  padding-top: 60px; }
  .right-col p, .right-col .ccm-block-page-list-description {
    font-size: 16px;
    font-family: "ProximaNova-Regular";
    margin-top: 20px;
    width: 80%; }

.left-col {
  border-top: 1px solid #76726e;
  margin-top: 30px; }

/****** FOOTER ******/
footer {
  background-color: #fff;
  padding: 30px 0 0 0; }
  footer img {
    margin: 0 auto 30px auto;
    display: inherit; }
  footer ul {
    border-top: 1px solid #2b2b2b;
    text-align: center;
    padding: 30px 0;
    margin: 0; }
  footer li {
    display: inline;
    font-family: "ProximaNova-Regular";
    font-size: 13px;
    margin-right: 5px; }
  footer li:last-child {
    margin-right: 0; }

/****** HOME PAGE ******/
.news {
  margin-top: 0;
  background-color: #fff;
  padding: 20px; }

.home-services-bg {
  background-image: url(../img/home-service-bg.jpg);
  background-size: cover; }

.home-slides {
  color: #f6ece2;
  margin-bottom: 35px; }
  .home-slides h1, .home-slides h2, .home-slides .ccm-block-page-list-title a, .ccm-block-page-list-title .home-slides a, .home-slides .ccm-block-topic-list-header h5, .ccm-block-topic-list-header .home-slides h5, .home-slides a {
    color: inherit; }

.home-slides .slides-nav .top-bar-section.sub-nav ul {
  border-bottom: 1px solid #76726e;
  border-top: none; }
  .home-slides .slides-nav .top-bar-section.sub-nav ul li {
    border-top: none; }
  .home-slides .slides-nav .top-bar-section.sub-nav ul li.active, .home-slides .slides-nav .top-bar-section.sub-nav ul li:hover {
    border-top: none;
    border-bottom: 3px solid #f6ece2; }

.slider-service div h2, .slider-service div .ccm-block-page-list-title a, .ccm-block-page-list-title .slider-service div a, .slider-service div .ccm-block-topic-list-header h5, .ccm-block-topic-list-header .slider-service div h5, .slider-service div p, .slider-service div .ccm-block-page-list-description {
  padding: 0 5px; }

button.slick-next, button.slick-prev {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

button:hover.slick-next, button:hover.slick-prev {
  background-color: transparent;
  opacity: .7;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.arrow-left, .arrow-right {
  display: inline-block;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 32px;
  height: 58px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.arrow-left {
  background-image: url(../img/arrow-left.png);
  background-image: linear-gradient(transparent, transparent), url(../img/arrow-left.svg); }

.arrow-right {
  background-image: url(../img/arrow-right.png);
  background-image: linear-gradient(transparent, transparent), url(../img/arrow-right.svg); }

.controls {
  margin: 100px 20px; }
  .controls button {
    background-color: transparent;
    margin-top: 50px; }
  .controls #next-services-home {
    float: right; }

/****** NEWS ******/
div.ccm-block-page-list-page-entry {
  margin: 10px 0 30px 0; }

/****** MEDIA QUERIES ******/
/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  .navigation-section p, .navigation-section .ccm-block-page-list-description {
    width: 60%; }

  .home-slides {
    padding: 30px; }
    .home-slides h1 {
      margin-bottom: 10px; } }
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .navigation-section {
    padding: 30px; }
    .navigation-section h1 {
      font-size: 55px;
      margin: 80px 0 30px 0;
      width: 58%; }
    .navigation-section p, .navigation-section .ccm-block-page-list-description {
      width: 40%; }

  .top-bar-section.sub-nav {
    margin: 0; }
    .top-bar-section.sub-nav ul li {
      margin: 0 75px -22px 0; }

  .navigation-section.services {
    background: url("../img/services.jpg") right no-repeat;
    background-size: contain; }

  h1 {
    font-size: 50px; }

  p, .ccm-block-page-list-description {
    font-size: 21px; }

  .main-section {
    padding: 60px 0 0 0; }

  .main-section .columns.white-space-right p, .main-section .columns.white-space-right .ccm-block-page-list-description {
    width: 70%; }

  footer {
    background-color: #fff;
    padding: 50px 0 40px 0; }
    footer li {
      font-size: 18px;
      margin-right: 50px; }

  .main-section .row .columns.news {
    margin-top: -145px;
    padding: 40px 120px; }
    .main-section .row .columns.news .date {
      margin-top: 20px;
      font-size: 16px; }

  /**** HOME ****/
  .home-services-bg {
    background-image: url(../img/home-service-bg.jpg);
    background-size: cover; }

  .home-slides {
    color: #f6ece2;
    padding: 60px 90px; }
    .home-slides h1, .home-slides h2, .home-slides .ccm-block-page-list-title a, .ccm-block-page-list-title .home-slides a, .home-slides .ccm-block-topic-list-header h5, .ccm-block-topic-list-header .home-slides h5 {
      color: inherit; }
    .home-slides h1 {
      margin-bottom: 30px; } }
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) {
  .top-bar-section.sub-nav ul li {
    margin: 0 105px 0 0; } }
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */
/* ==========================================================================
   Animations
   ========================================================================== */
.animateMeUp {
  opacity: 0; }

.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/***** FADEINUP *****/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
